
.box_search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.box_search input[type="text"] {
    width: 100%;
    max-width: 300px; /* Default maximum width */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
.box_workouts {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 16px;
    padding: 16px;
    max-width: 1200px; /* Maximum width of the grid container */
    width: 100%;
}

.grid_item {
    background-color: #181818;
    color: white;
    height: 500px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
}
.grid_item h1{
   font-size: 24px;
   padding-top: 10px;
}
.grid_item p1{
    font-size: 18px;
 }
 .timeinbox {
    bottom: 100px;
    padding-top: 140px;
 }

@media (min-width: 600px) {
    .box_search input[type="text"] {
        max-width: 500px; /* Wider input box on larger screens */
    }
}

@media (min-width: 900px) {
    .box_search input[type="text"] {
        max-width: 700px; /* Even wider input box on very large screens */
    }
}